{% extends 'base.html.twig' %}

{% block title %}Solicitud | Sindicato TS{% endblock %}

{% block body %}
<body class="form">
    <div class="container mt-4 text-white fw-bold">
        <div class="row py-3">
            <div class="col-12 text-center">
                <a href="{{ path('indexapp') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo" class="img-fluid mb-3" style="max-width: 80px;">
                </a>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data" data-turbo="false">
            {{ form_start(form) }}
            {{ form_row(form._token) }}

            <div class="row gx-5">
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">NOMBRE (S)</div>
                    {{ form_widget(form.name, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">APELLIDO PATERNO</div>
                    {{ form_widget(form.paternalName, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.paternalName) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">APELLIDO MATERNO</div>
                    {{ form_widget(form.maternalName, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.maternalName) }}
                </div>
            </div>

            <div class="row gx-5">
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">CALLE</div>
                    {{ form_widget(form.street, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.street) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">ESTADO</div>
                    {{ form_widget(form.state, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.state) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">MUNICIPIO</div>
                    {{ form_widget(form.municipality, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.municipality) }}
                </div>
            </div>

            <div class="row gx-5">
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">CÓDIGO POSTAL</div>
                    {{ form_widget(form.postalCode, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.postalCode) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">CELULAR</div>
                    {{ form_widget(form.phone, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.phone) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">RFC</div>
                    {{ form_widget(form.rfc, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.rfc) }}
                </div>
            </div>

            <img src="{{ asset('images/line.png') }}" alt="Line" class="img-fluid w-100">

            <div class="row gx-5">
                <div class="col-md-6 col-12 mb-3">
                    <div class="p-3">EMPRESA</div>
                    {{ form_widget(form.companyName, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.companyName) }}
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <div class="p-3">NÚMERO DE NÓMINA</div>
                    {{ form_widget(form.companyNumber, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.companyNumber) }}
                </div>
            </div>
            *Archivos (.PDF.PNJ.JPG)
            <div class="row gx-5">
			
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">INE </div>
                    {{ form_widget(form.imagesINE, {'attr': {'class': 'forms', 'accept': 'application/pdf'}}) }}
                    {{ form_errors(form.imagesINE) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">COMPROBANTE DE DOMICILIO </div>
                    {{ form_widget(form.imagesStreet, {'attr': {'class': 'forms', 'accept': 'application/pdf'}}) }}
                    {{ form_errors(form.imagesStreet) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">RECIBO DE NÓMINA </div>
                    {{ form_widget(form.imagesNomina, {'attr': {'class': 'forms', 'accept': 'application/pdf'}}) }}
                    {{ form_errors(form.imagesNomina) }}
                </div>
            </div>

            <img src="{{ asset('images/line.png') }}" alt="Line" class="img-fluid w-100">

            <div class="row gx-5">
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">CANTIDAD SOLICITADA</div>
                    {{ form_widget(form.requestedAmount, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.requestedAmount) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">BANCO</div>
                    {{ form_widget(form.bank, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.bank) }}
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <div class="p-3">CLAVE INTERBANCARIA</div>
                    {{ form_widget(form.interbank, {'attr': {'class': 'forms'}}) }}
                    {{ form_errors(form.interbank) }}
                </div>
            </div>

            <div class="row py-3">
                <div class="col-6 text-start">
                    <a href="{{ path('indexapp') }}" class="btn text-white fw-bold">
                        <img src="{{ asset('images/iconow.png') }}" alt="Logo" class="img-fluid" style="max-width: 80px;">
                    </a>
                </div>
                <div class="col-6 text-end">
                  <button type="button" class="btn btn-primary py-3" data-bs-toggle="modal" data-bs-target="avisoModalToggle">
    ACEPTAR
</button>

                </div>
				 
            </div>
				


	<div class="modal-fade" id="avisoModalToggle" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalTitle">AVISO DE PRIVACIDAD</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" id="closeButton" ></button>
            </div>

            <div class="modal-body">
			<div class="contenido text-dark">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
				</div>
            <div class="modal-footer">
                <label>
                    <input type="checkbox" id="privacyAgreement" name="privacy_agreement">
                    Estoy de acuerdo
                </label>
                <button class="btn text-dark" data-bs-dismiss="modal"  >ENVIAR</button>
            </div>
        </div>
    </div>
</div>

			<div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="modalTitle2" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <img src="{{ asset('images/letras.png') }}" class="img-fluid mb-3" style="max-width: 800px;">
                <img src="{{ asset('images/listo.png') }}" class="img-fluid mb-3" style="max-width: 800px;">
                
                <div class="text-white mt-5 fw-bold">
                    <p>**En breve nos comunicaremos contigo**</p>
                    {{ form_widget(form.submit, {'attr': {'class': 'btn text-dark', 'id': 'closeModalButton'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
		</div>
		{{ form_end(form) }}
			</form>

	</body>
	
	<script>


function toggleSubmitButton() {
document.getElementById('submitButton').disabled = !document.getElementById('privacyAgreement').checked;
}

async function saveLoan(form) {


let data = new FormData(form)
let url = document.getElementById("url-webapploan-save-application").value;


const response = await fetch(url, {
method: "POST",
body: JSON.stringify(serialize(data))
});

console.log(response);
}

   
	document.getElementById('closeModalButton').addEventListener('click', function () {
        let modal = new bootstrap.Modal(document.getElementById('confirmacionModal'));
        modal.hide(); // Cierra el modal solo cuando se presiona el botón de submit
    });

	</script>

{% endblock %}